
.inputBox {
    position: relative;
    margin : 5px 0 0 0;
  }
  .mailconformationbtn{
    margin-left: 6%;
  }
  
  .inputBox input {
    width: 236px;
    padding: 0.625rem 10px;
    font-size: 1rem;
    letter-spacing: 0.062rem;
    border: 1px solid #ccc;
    background: transparent;
    border-radius: 4px;
    
  }
  .inputBox .psw{
      width: 102px;
  }

  .inputBox label {
    position: absolute;
    margin-left: 10px;
    top: 0;
    left: 10px;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: grey;
    pointer-events: none;
    transition: 0.5s;
  }
  
 .inputBox input:focus ~ label,
 .inputBox input:valid ~ label,
   .inputBox input:not([value=""]) ~ label {
    top: -1.125rem;
    left: 10px;
    color: #1a73e8;
    font-size: 0.75rem;
    background-color: white;
    height: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
 .inputBox input:focus {
    outline: none;
    border: 2px solid #1a73e8;
  }

// .button{
//   margin-top: 10px;
// }

.errmsg,.errmsg2{
  color: red;
  font-size: 13px;
  margin-left: 15px;
}
.errmsg2{
  margin-top: 10px;
}
.checkbox{
  margin-left: 5px;
}
  .otpmsg{
    font-size: 80%;
    margin-left: 6%;
  }
.signupimg{
  margin-top: 40%;
  width:100%;
  // height: 550%;
}

@media only screen and (max-width: 600px) {
  .formrigth{
    margin-top: 10px;
  }
}


